body{
    font-family: "Lucida Console", Courier, monospace;
}
.home{
    background-image: url("https://thumbs.dreamstime.com/b/african-american-woman-eating-pizza-outdoor-restaurant-portrait-59936960.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;

}
.place{
    background-color: black;
    color: white;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#toppings{
    text-align: center;
}
.footer{
    text-align: center;
}
li{
    display: inline-block;
}
h4{
    text-align: center;
    font-weight: bold;
}